$pink : #DB5461 !global;
$light-grey : #686963 !global;
$dark-grey : #8AA29E !global;

$primary : $pink !global;
$secondary : $dark-grey !global;
$tertiary : $light-grey !global;

@import 'vendor/0-vendor-dir';
@import 'modules/0-modules-dir';

@media (max-width:640px) {
	.u-desktop-only {
		display: none !important;
	}
	.u-mobile-only {
		display: block !important;
	}
}

@media (min-width:641px) {
	.u-mobile-only {
		display: none !important;
	}
	.u-desktop-only {
		display: block !important;
	}
}

a {
	text-decoration:none !important;
}