.tool-tip {
	&:before {
		content: "\e091";
		font-family: 'typicons';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    height: 1em;
    font-size: 1em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	}
	section {
		position: absolute
		top:-16px;
		display: none;
	}
	&:hover {
		section {
			display: block;
		}
	}
}