{% extends "base.html" %}

{% block body %}
<div class="page-heading-mobile-title u-mobile-only">
  ACTIONS:
</div>
<section class="page-heading">
  <div class="container">
    <h3>UI Elements Demo</h3>
    <section class="actions">
      <a href="javascript:void(0);" class="button">Cancel</a>
      <a href="javascript:void(0);" class="button button-secondary">Save</a>
      <a href="javascript:void(0);" class="button button-primary"><i class="typcn typcn-media-pause"></i> Pause</a>
    </section>
  </div>
</section>

<div class="container">
  
  <div class="row margin-md">
    <div class="col-xs-12 col-sm-4 col-md-3">
    
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <h5>Header 5</h5>
      <div class="margin-md">
      <h2>Typograpy</h2>
        <label>Label</label>
        <p>
          Lorem ipsum Mollit in veniam laborum aliqua labore officia consectetur aliquip sed reprehenderit enim ullamco irure laborum magna magna ut commodo magna occaecat id in veniam incididunt sint ea adipisicing dolore qui sunt consequat tempor culpa culpa.
        </p>
        <label>Paragraph .small</label>
        <p class="small">
          Lorem ipsum Mollit in veniam laborum aliqua labore officia consectetur aliquip sed reprehenderit enim ullamco irure laborum magna magna ut commodo magna occaecat id in veniam incididunt sint ea adipisicing dolore qui sunt consequat tempor culpa culpa.
        </p>
        <label>paragraph .heading</label>
        <p class="heading">
          Lorem ipsum Mollit in veniam laborum.
        </p>
        <label>paragraph .heading .small</label>
        <p class="heading small">
          Lorem ipsum Mollit in veniam laborum.
        </p>
      </div>
      <h2>Inputs</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <label>Text</label>
          <input type="text">
          <label>Email</label>
          <input type="email">
          <label>Nice Selects</label>
          <select>
            <option data-display="Select Color">No Color</option>
            <option value="1">Red</option>
            <option value="2">Blue</option>
            <option value="3">Yellow</option>
          </select>
        </div>
        <div class="col-xs-12 col-md-6">
          <label>Password</label>
          <input type="password">
          <label>Number</label>
          <input type="number">
          <label>Input with Error</label>
          <input type="text" class="error" value="Invalid Value">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label>Textarea</label>
          <textarea></textarea>
        </div>
      </div>  
      <div class="margin-md">
        <h2>Buttons</h2>
        <label>Normal, Reset, type="button, type="submit"</label>
        <a href="javascript:void(0);" class="button">Normal Button</a><br>
        <label>Primary Button</label>
        <a href="javascript:void(0);" class="button button-primary">Button Primary</a><br>
        <label>Secondary</label>
        <a href="javascript:void(0);" class="button button-secondary">Button Secondary</a><br>
        <a href="javascript:void(0);" class="text-link">.text-link</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
