{% extends "base.html" %}

{% block body %}
<div class="container">
  
  <div class="row margin-lg">

    <div class="col-xs-12 col-md-6">
    	<h1>Header 1</h1>
    	<h2>Header 2</h2>
    	<h3>Header 3</h3>
    	<h4>Header 4</h4>
      <h5>Header 5</h5>
    </div>

    <div class="col-xs-12 col-md-6">
    	<label>Label</label>
      <p>
        Lorem ipsum Mollit in veniam laborum aliqua labore officia consectetur aliquip sed reprehenderit enim ullamco irure laborum magna magna ut commodo magna occaecat id in veniam incididunt sint ea adipisicing dolore qui sunt consequat tempor culpa culpa.
      </p>
    </div>

  </div>
</div>
{% endblock %}
