{% extends "authenticated.html" %}

{% block body %}
<!--
  If page-heading contains no buttons and is being used just for its h1 add the class .u-desktop-only
-->
<section class="page-heading">
  <div class="container">
    <h1>UI Elements Demo</h1>
    <section class="actions">
      <a href="javascript:void(0);" class="button">Cancel</a>
      <a href="javascript:void(0);" class="button button-secondary">Save</a>
      <a href="javascript:void(0);" class="button button-primary"><i class="typcn typcn-media-pause"></i> Pause</a>
    </section>
  </div>
</section>

<div class="container">
  
  <div class="row margin-md">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <!-- just add .anchor-link to elements you want to be anchors, jquery will construct the menu -->
      <ul id="anchorMenu"></ul>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
      <h2 class="anchor-link">Demo Controls</h2>
      <label>Toggle .has-notifications
        <span class="tool-tip">
          <section>
            Use this to toggle whether the button on the top right 'has notifcations'.
          </section>
        </span>
      </label>
      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox demo-notifications" id="demoNotifications">
        <label class="onoffswitch-label" for="demoNotifications"></label>
      </div>
      <div class="margin-md">
      <h2 class="anchor-link">Typograpy</h2>
        <div class="margin-md">
          <h1>H1</h1>
          <h2>H2</h2>
          <h3>H3</h3>
          <h4>H4</h4>
          <h5>H5</h5>
        </div>
        <label>Normal Paragraph
          <span class="tool-tip">
            <section>
              All things pertaining to text. Headers, labels, paragraphs, etc.
            </section>
          </span>
        </label>
        <p>
          Lorem ipsum Mollit in veniam laborum aliqua labore officia consectetur aliquip sed reprehenderit enim ullamco irure laborum magna magna ut commodo magna occaecat id in veniam incididunt sint ea adipisicing dolore qui sunt consequat tempor culpa culpa.
        </p>
        <label>Paragraph .small</label>
        <p class="small">
          Lorem ipsum Mollit in veniam laborum aliqua labore officia consectetur aliquip sed reprehenderit enim ullamco irure laborum magna magna ut commodo magna occaecat id in veniam incididunt sint ea adipisicing dolore qui sunt consequat tempor culpa culpa.
        </p>
        <label>paragraph .heading</label>
        <p class="heading">
          Lorem ipsum Mollit in veniam laborum.
        </p>
        <label>paragraph .heading .small</label>
        <p class="heading small">
          Lorem ipsum Mollit in veniam laborum.
        </p>
      </div>
      <h2 class="anchor-link">Inputs</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <label>Text</label>
          <input type="text">
          <label>Email</label>
          <input type="email">
          <label>Nice Selects</label>
          <select>
            <option data-display="Select Color">No Color</option>
            <option value="1">Red</option>
            <option value="2">Blue</option>
            <option value="3">Yellow</option>
          </select>
        </div>
        <div class="col-xs-12 col-md-6">
          <label>Password</label>
          <input type="password">
          <label>Number</label>
          <input type="number">
          <label>Input with Error</label>
          <input type="text" class="error" value="Invalid Value">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label>Textarea</label>
          <textarea></textarea>
        </div>
      </div>  
      <div class="margin-md">
        <h2 class="anchor-link">Buttons</h2>
        <label>Normal, Reset, type="button, type="submit"</label>
        <a href="javascript:void(0);" class="button">Normal Button</a><br>
        <label>Primary Button</label>
        <a href="javascript:void(0);" class="button button-primary">Button Primary</a><br>
        <label>Secondary</label>
        <a href="javascript:void(0);" class="button button-secondary">Button Secondary</a><br>
        <a href="javascript:void(0);" class="text-link">.text-link</a>
      </div>
      <h2 class="anchor-link">Controls</h2>
      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1">
        <label class="onoffswitch-label" for="myonoffswitch1"></label>
      </div>
      <label>Checked Switch</label>
      <div class="onoffswitch">
        <input type="checkbox" checked name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2">
        <label class="onoffswitch-label" for="myonoffswitch2"></label>
      </div>
      <label>Range Selector</label>
      <input type="range">
      <h2 class="anchor-link">Containers</h2>
      <section class="u-well">
        <p>This is a well, you can put content in it</p>
      </section>
      <section class="u-card">
        <p>This is a card, you can put content in it</p>
      </section>
      <section class="u-well ezt-has-tabs">
        <ul ezt="1" class="ezt-nav">
          <li><a href="javacsript:void(0);" class="ezt-active">Tab 1</a></li>
          <li><a href="javacsript:void(0);">Tab 2</a></li>
          <li><a href="javacsript:void(0);">Tab 3</a></li>
        </ul>

        <div ezt="1" class="ezt-container">
          <div class="ezt-content ezt-active">
            <h5>Tab 1 Content</h5>
            <p>
             This card has tabs on/in it. Lorem ipsum Ad dolore ullamco officia pariatur ut quis aute in ullamco aliqua. Lorem ipsum Laboris culpa consectetur in ullamco pariatur. Ipsum Exercitation laborum anim exercitation qui.
            </p>
          </div>
          <div class="ezt-content">
            <h5>Tab 2 Content</h5>
            <p>
              Ipsum Exercitation ullamco dolore nostrud dolor  laborum anim exercitation qui. Dipisicing fugiat voluptate labore non eu amet. Velit ullamco dolore nostrud dolor 
            </p>
          </div>
          <div class="ezt-content">
            <h5>Tab 3 Content</h5>
            <p>
              Lorem ipsum Dolore laborum in deserunt cupidatat adipisicing fugiat voluptate labore non eu amet officia dolor deserunt deserunt velit ullamco dolore nostrud dolor in nostrud elit Ut aliquip.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/anchor.js' %}"></script>
<script src="{% static 'js/vendor/slick.js' %}"></script>

<!-- FOR DEMO ONLY DO NOT COPY TO PROJECT -->

<script type="text/javascript">
  window.onload = function() {
    $('.demo-notifications').click(function() {
      $('#toggleNotifications').toggleClass('has-notifications');
    });
  };
</script>

<!-- /FOR DEMO ONLY DO NOT COPY TO PROJECT -->
{% endblock %}
