<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>UI Elements Demo | Social Rebate</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/typicons.css' %}">
  <script src="{% static 'js/vendor/modernizr-2.6.2.js' %}"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,100,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:600,200' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>

<body class="no-fixed-nav">

  {% block body %} {% endblock %}

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{% static 'js/vendor/perfect-scrollbar.jquery.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
{% block scripts %} {% endblock %}

</html>
