$nav-size: 45px;
body {
  margin-top: $nav-size;
}

nav {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: $nav-size;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 9002;
}

.nav-button {
  width: $nav-size;
  height: $nav-size;
  display: block;
  line-height: $nav-size - 3;
  text-align: center;
  transition: 0.1s background-color linear, 0.1s box-shadow linear;
  color: #666;
  cursor: pointer;
  font-size: 1.4em;
}

.side-element {
  position: fixed;
  top: $nav-size;
  width: 100%;
  height: 100%;
  max-width: 280px;
  display: block;
  background-color: #f5f5f5;
  z-index: 9001;
  transition: 0.1s all linear;
  overflow-y: scroll;
  padding-bottom: $nav-size + 5;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0;
      &.heading {
        font-size: 14px;
        text-transform: uppercase;
        font-weight:bold;
        padding: 0 15px;
        line-height: 45px;
        border-bottom:1px solid #ddd;
        background-color: #fafafa;
      }
    }
    a {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 15px;
      line-height: 45px;
      color: #444;
      font-size: 14px;
      transition: 0.1s background-color ease-out;
      &.active {
        background-color: $primary;
        color: #fff;
        &:hover {
          background-color: lighten($primary, 4);
        }
        i {
          color: lighten($primary, 20);
        }
      }
      &:hover {
        background-color: #fafafa;
      }
      &:active {
        background-color: #fff;
        i {
          color: $primary;
        }
      }
      i {
        font-size: 1.6em;
        padding: 0 10px 0 0;
        color: #bbb;
      }
    }
  }
}

i#toggleNav {
  @extend .nav-button;
  box-shadow: -1px 0 rgba(0, 0, 0, 0.1) inset;
  &:active {
    background-color: #fafafa;
    box-shadow: -1px 0 rgba(0, 0, 0, 0.2) inset, 0 3px rgba(0, 0, 0, 0.1) inset;
    color: #888;
  }
}
#navSideBar {
  @extend .side-element;
  left: -100%;
  box-shadow: 1px 0 rgba(0, 0, 0, 0.05), 2px 0 6px rgba(0, 0, 0, 0.2);
}
body.active-toggleNav {
  i#toggleNav {
    background-color: #fafafa;
    box-shadow: -1px 0 rgba(0, 0, 0, 0.2) inset, 0 3px rgba(0, 0, 0, 0.1) inset;
    color: $pink;
    &:before {
      content:"\e122";
    }
  }
  #navSideBar {
    left: 0;
  }
}

#siteId {
  padding: 9px;
  width: $nav-size;
  height: $nav-size;
  position: absolute;
  top: 0;
  left: $nav-size;
  transition: 0.1s all ease-out;
  &:hover {
    opacity: 0.8;
    padding: 8px 9px 11px 9px;
  }
  img {
    width: 100%;
  }
  @media (min-width:640px) {
    left: 50%;
    margin-left: -$nav-size / 2;
  }
}

#userControl {
  position: absolute;
  right: $nav-size;
  top: 0;
  line-height: $nav-size;
  .u-mobile-only i {
    @extend .nav-button;
    right: 0;
    box-shadow: 1px 0 rgba(0, 0, 0, 0.1) inset, -1px 0 rgba(0, 0, 0, 0.1) inset;
    &:active {
      background-color: #fafafa;
      box-shadow: 1px 0 rgba(0, 0, 0, 0.2) inset, -1px 0 rgba(0, 0, 0, 0.2) inset, 0 3px rgba(0, 0, 0, 0.1) inset;
      color: #888;
    }
  }
  .u-desktop-only {
    line-height: $nav-size;
    color: #777;
    font-size: 14px;
    padding:0 15px 0 10px;
    @extend .nav-button;
    width: auto;
    i {
      font-size: 1.4em;
    }
    &:hover {
      color: #333; 
    }
    box-shadow: 1px 0 rgba(0, 0, 0, 0.1) inset, -1px 0 rgba(0, 0, 0, 0.1) inset;
    &:active {
      background-color: #fafafa;
      box-shadow: 1px 0 rgba(0, 0, 0, 0.2) inset, -1px 0 rgba(0, 0, 0, 0.2) inset, 0 3px rgba(0, 0, 0, 0.1) inset;
      color: #888;
    }
  }
}
#userSideBar {
  @extend .side-element;
  box-shadow: -1px 0 rgba(0, 0, 0, 0.05), -2px 0 6px rgba(0, 0, 0, 0.2);
  right: -100%;
}
body.active-userControl {
  #userControl .u-mobile-only i {
    background-color: #fafafa;
    box-shadow: 1px 0 rgba(0, 0, 0, 0.2) inset, -1px 0 rgba(0, 0, 0, 0.2) inset, 0 3px rgba(0, 0, 0, 0.1) inset;
    color: $pink;
    &:before {
      content: "\e12c";
    }
  }
  #userControl .u-desktop-only {
    background-color: #fafafa;
    box-shadow: 1px 0 rgba(0, 0, 0, 0.2) inset, -1px 0 rgba(0, 0, 0, 0.2) inset, 0 3px rgba(0, 0, 0, 0.1) inset;
    color: $pink;
    i:before {
      content: "\e12c";
    }
  }
  #userSideBar {
    right: 0;
  }
}
#toggleNotifications {
  @extend .nav-button;
  position: absolute;
  right: 0;
  top: 0;
  &:active {
    background-color: #fafafa;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
    color: #888;
  }
}

#notificationsSideBar {
  @extend .side-element;
  box-shadow: -1px 0 rgba(0, 0, 0, 0.05), -2px 0 6px rgba(0, 0, 0, 0.2);
  right: -100%;
  & > p {
    padding: 0 15px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #777;
  }
  & > a {
    display: block;
    background-color: #fff;
    box-shadow:0 2px 4px rgba(0,0,0,0.1);
    border-radius: 3px;
    margin:0 15px 10px 15px;
    padding: 10px;
    position: relative;
    overflow:hidden;
    transition: 0.2s all linear;
    &:first-of-type {
      margin-top: 15px;
    }
    &:hover {
      box-shadow:0 2px 6px rgba(0,0,0,0.2);
      h5 {
        color: #333;
      }
    }
    h5 {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      margin:0 0 5px 0;
      color: #777;
      i {
        color: $primary;
        font-size: 16px;
      }
    }
    &.general h5 i:before {
      content:'\e091';  
    }
    &.critical h5 i:before {
      content:'\e137';        
    }
    &.report h5 i:before {
      content:'\e043';       
    }
    &.heart h5 i:before {
      content:'\e085';       
    }
    p {
      font-size: 12px;
      color: #777;
      margin:0;
    }
  }
}
body.active-toggleNotifications {
  #toggleNotifications {
    background-color: #fafafa;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
    color: $pink;
  }
  #userControl .u-mobile-only i {
    box-shadow: 1px 0 rgba(0, 0, 0, 0.1) inset, -1px 0 rgba(0, 0, 0, 0.2) inset;
  }
  #userControl .u-desktop-only {
    box-shadow: 1px 0 rgba(0, 0, 0, 0.1) inset, -1px 0 rgba(0, 0, 0, 0.2) inset;
  }
  #notificationsSideBar {
    right: 0;
  }
}

